/* Reset */
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: var(--light); */
}
img {
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: bolder;
}
p {
  font-size: 14px;
}
/* -------  Colors ------- */
:root {
  --primaryColor: #ec7323;
  --secondaryColor: #202122;
  --light: #fff;
  --lightDark: #343535;
  --darkButton: var(--lightDark);
  --orangeButton: var(--primaryColor);
  --linksColor: #333;
  --fadedLight: rgba(255, 255, 255, 0.5);
  --lightGray: #6a6d6f;
  --lighterGray: #f8f9fa;
}
/* -------  Colors ------- */

/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 1170px;
  margin-inline: auto;
  padding: 15px;
}

/************* NAVBAR *******************/

/***** BurgerMenu ******/
.navbar__bars {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  user-select: none;
}
.navbar__singleBar {
  height: 3px;
  width: 24px;
  display: block;
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}
.navbar__bars.activeMenu .navbar__singleBar:nth-of-type(1) {
  transform-origin: top left;
  transform: translate(5px, 0px) rotate(45deg);
}
.navbar__bars.activeMenu .navbar__singleBar:nth-of-type(2) {
  opacity: 0;
}
.navbar__bars.activeMenu .navbar__singleBar:nth-of-type(3) {
  transform-origin: bottom left;
  transform: translate(5px, 4px) rotate(-45deg);
}
@media (min-width: 1025px) {
  .navbar__bars {
    display: none;
  }
}
/****** BurgerMenu ******/

.mainHeader {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.3s transform ease-in-out;
}
.topNav {
  background-color: var(--secondaryColor);
  display: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
.topNav .topNavWrapper {
  max-width: 1370px;
  width: 100%;
  margin-inline: auto;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}
.topNav__leftSide,
.topNav__rightSide,
.topNav__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.topNav__stars {
  display: flex;
  align-items: center;
}
.topNav__singleStar {
  width: 22px;
  height: 22px;
  filter: invert(63%) sepia(50%) saturate(4306%) hue-rotate(345deg)
    brightness(94%) contrast(96%);
}
.topNav__avatar {
  background-color: var(--lightDark);
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
}
.topNav__avatar img {
  border-radius: 50%;
}
.topNav__avatar span,
.topNav__info a {
  color: var(--light);
}
@media (min-width: 1025px) {
  .topNav {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .topNav .topNavWrapper {
    font-size: 14px;
  }
  .topNav__stars {
    font-size: 16px;
  }
}
.navbarWrapper {
  width: 100%;
  max-width: 1370px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px 0 #343535;
  background-color: var(--light);
  margin-inline: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.3rem;
  max-width: 1170px;
  margin-inline: auto;
  height: 100%;
  padding-block: 0.5rem;
}
@media (min-width: 1025px) {
  .navbar {
    padding-bottom: 0;
    align-items: unset;
  }
}
.navbarWrapper.fullWidth {
  max-width: 100%;
}
.navbar__callUs {
  padding: 1rem;
  background-color: var(--primaryColor);
  color: var(--light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar__phoneIcon {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(158deg)
    brightness(105%) contrast(103%);
}
.navbar__calRequest {
  display: none;
  font-size: 13px;
}
@media (min-width: 768px) {
  .navbar__callUs {
    padding: 0.7rem 1rem;
    border-radius: 50px;
    gap: 1rem;
  }
  .navbar__calRequest {
    display: block;
  }
}
@media (min-width: 1025px) {
  .navbar__callUs {
    display: none;
  }
}

.navbar__menuContainer {
  display: flex;
  gap: 1rem;
  /* font-size: 14px; */
}
.navbar__estimation {
  background-color: var(--primaryColor);
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: capitalize;
  color: var(--light);
  align-self: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__listItem {
  display: flex;
  height: 100%;
  align-items: center;
  align-self: stretch;
  padding-inline: 0.3rem;
}
.navbar__navLinkTag {
  color: var(--linksColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .navbar__navLinkTag {
    font-size: 14px;
  }
}
.navbar__subNavLinkTag {
  color: var(--secondaryColor);
}
.navbar__subLink:hover > * {
  color: var(--primaryColor);
}
.navbar__navLinkTag:hover,
.navbar__navLinkTag:hover .navbar__caretImg {
  color: var(--primaryColor);
  filter: invert(48%) sepia(50%) saturate(1247%) hue-rotate(349deg)
    brightness(99%) contrast(88%);
}

.navbar__subMenuColumn:hover .navbar__subMenuColumnLinkTag {
  background-color: var(--primaryColor);
  color: var(--light);
}
.navbar__subMenuColumn:hover .navbar__subMenuColumnIcon {
  filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(268deg)
    brightness(103%) contrast(100%);
}
.navbar__subMenuColumnNavLinkTag:hover {
  color: var(--primaryColor);
}
.navbar__subMenuColumnNavLinkTag:hover .navbar__subMenuColumnIconLvl2 {
  filter: invert(47%) sepia(45%) saturate(1711%) hue-rotate(351deg)
    brightness(100%) contrast(86%);
}
@media (max-width: 1024px) {
  .navbar__menuContainer {
    display: none;
  }
}
/*** mainNav SubMenus ***/
/*Company*/
.navbar__subMenu-company {
  background-color: var(--light);
  position: absolute;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  width: 240px;
  border-radius: 0 0 5px 5px;
  top: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}
.navbar__listItem-company:hover .navbar__subMenu-company {
  max-height: 600px;
  opacity: 1;
}
.navbar__subMenu-company .navbar__subLink {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: padding-left 0.3s ease-in-out;
}
.navbar__subIcon {
  width: 14px;
}
.navbar__subMenu-company .navbar__subLink:hover {
  padding-left: 1.5rem;
}
.navbar__subMenu-company .navbar__subLink:hover .navbar__subIcon {
  filter: invert(48%) sepia(50%) saturate(1247%) hue-rotate(349deg)
    brightness(99%) contrast(88%);
}

/* Services Sub Menu */
.navbar__serviceMenuContainer,
.navbar__solutionMenuContainer {
  position: absolute;
  left: 0;
  background-color: var(--light);
  width: 100%;
  top: 98%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}
.navbar__listItem-ourServices:hover .navbar__serviceMenuContainer,
.navbar__ListItem-solution:hover .navbar__solutionMenuContainer {
  max-height: 2000px;
  padding-bottom: 5rem;
  opacity: 1;
}
.navbar__subMenu-services,
.navbar__subMenu-solution {
  display: flex;
  max-width: 1370px;
  margin-inline: auto;
  justify-content: space-between;
}
.navbar__subMenuColumn {
  width: 100%;
}
.navbar__subMenuColumnLinkTag {
  display: flex;
  align-items: center;
  color: #202122;
  font-size: 14px;
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid var(--secondaryColor);
  gap: 1rem;
}
.navbar__subMenuColumnIcon {
  width: 50px;
  height: 50px;
}
@media (min-width: 1200px) {
  .navbar__subMenuColumnLinkTag {
    font-size: 15px;
  }
}
@media (min-width: 1441px) {
  .navbar__subMenuColumnLinkTag {
    font-size: 15px;
    padding: 20px 10px 20px 15px;
  }
}
@media (min-width: 1601px) {
  .navbar__subMenuColumnLinkTag {
    font-size: 18px;
  }
}
.navbar__subMenuLvl2 {
  padding: 10px 15px;
}
.navbar__subMenuColumnListItem {
  padding: 10px 0;
  line-height: 1.3;
}
.navbar__subMenuColumnNavLinkTag {
  color: #202122;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 1rem;
}
.navbar__subMenuColumnIconLvl2 {
  width: 30px;
  height: 30px;
}
@media (min-width: 1200px) {
  .navbar__subMenuColumnNavLinkTag {
    font-size: 14px;
  }
}
.navbar__caretImg {
  width: 20px;
  align-self: center;
}
.navbar__subMenuRequest {
  background-color: var(--secondaryColor);
  position: absolute;
  bottom: 0%;
  width: 100%;
  color: var(--light);
  padding: 15px;
}
.navbar__subMenuRequestContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1370px;
  margin-inline: auto;
}
.navbar__subMenuRequestMegaText {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__subMenuRequestTitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
.navbar__subMenuRequestCall {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 400;
  padding: 0 5px;
  text-transform: capitalize;
}
.navbar__subMenuMobilePhone {
  color: var(--light);
}
.navbar__subMenuRequestOR,
.navbar__subMenuMobilePhone {
  font-weight: 500;
  font-size: 18px;
}
.navbar__subMenuRequestFreeQuote {
  background-color: var(--primaryColor);
  color: var(--light);
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
}
@media (min-width: 1200px) {
  .navbar__subMenuRequestTitle {
    font-size: 28px;
  }
  .navbar__subMenuRequestCall,
  .navbar__subMenuRequestOR,
  .navbar__subMenuMobilePhone {
    font-size: 20px;
  }
  .navbar__subMenuRequestFreeQuote {
    font-size: 17px;
  }
}
@media (min-width: 1441px) {
  .navbar__subMenuRequestTitle {
    font-size: 38px;
  }
  .navbar__subMenuRequestCall {
    font-size: 28px;
  }
  .navbar__subMenuRequestFreeQuote {
    font-size: 18px;
  }
  .navbar__subMenuRequestOR,
  .navbar__subMenuMobilePhone {
    font-size: 22px;
  }
}

/************* NAVBAR *******************/

/******** MOBILE NAVBAR MENUS *******/
.mobileNav {
  background-color: var(--secondaryColor);
  width: 260px;
  position: fixed;
  top: 68px;
  isolation: isolate;
  z-index: 999;
  min-height: 100%;
  font-size: 14px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
@media (min-width: 1025px) {
  .mobileNav {
    display: none;
  }
}
.mobileNav__slide {
}
.mobileNav__menuListItem {
  border-bottom: 2px solid var(--fadedLight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileNav__menuNavLinkTag {
  color: var(--light);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.8rem 1.2rem;
}
.mobileNav__menuNavLinkTag span {
  white-space: nowrap;
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mobileNav__Icon,
.mobileNav__chevronRight {
  width: 20px;
  height: 20px;
  filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(294deg)
    brightness(106%) contrast(102%);
}
.mobileNav__chevronRight {
  margin-left: auto;
}
.mobileNav__estimation {
  color: var(--light);
  font-weight: 700;
  text-transform: capitalize;
  width: 90%;
  margin-inline: auto;
  background-color: var(--primaryColor);
  padding: 0.6rem 1rem;
  display: block;
  text-align: center;
  border-radius: 50px;
  font-size: 17px;
  margin-top: 1rem;
}

.mobileNav__slide {
  position: absolute;
  inset: 0;
  background-color: var(--secondaryColor);
  transition: transform 0.3s ease-in-out;
}
.mobileNav__companySlide,
.mobileNav__serviceSlide,
.mobileNav__solutionSlide {
  transform: translateX(100%);
  /* display: none; */
}
.mobileNav__serviceSubSlide,
.mobileNav__solutionSubSlide {
  transform: translateX(100%);
}
.slideIn {
  transform: translateX(0%);
}
/******** MOBILE NAVBAR MENUS *******/

body {
  height: 5000px;
}

/***************** HERO SECTION ***************/
.hero {
  background: linear-gradient(
    90deg,
    #ec7323,
    rgba(236, 115, 35, 0.95) 40%,
    rgba(236, 115, 35, 0.7) 70%,
    rgba(236, 115, 35, 0.4)
  );
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 550px;
  margin-top: 50px;
}
.hero__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero__background img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
@media (min-width: 768px) {
  .hero {
    min-height: 540px;
  }
  .hero__background img {
    min-height: 800px;
  }
}
@media (min-width: 1441px) {
  .hero {
    min-height: 650px;
  }
}
@media (min-width: 1601px) {
  .hero {
    min-height: 800px;
  }
}
.hero__title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 22px;
}
.hero__description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 22px;
}
.hero__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-transform: capitalize;
}
.hero__link {
  color: var(--light);
  background-color: var(--darkButton);
  padding: 12px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  /* font-size: 14px; */
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 36px;
  }
  .hero__description {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 40px;
  }
  .hero__description {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 48px;
  }
  .hero__description {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .hero__title {
    font-size: 60px;
  }
}

.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  max-width: 1170px;
  margin-inline: auto;
  margin-top: -60px;
  background-color: var(--light);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-block: 10px;
  position: relative;
  z-index: 1;
}
.brands__imgContainer {
  display: flex;
  flex-basis: 33%;
  max-width: 33%;
}
.brands__imgContainer img {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .brands__imgContainer {
    flex-basis: 20%;
    max-width: 20%;
  }
}

/***************** HERO SECTION ***************/

/* ************** ABOUT US SECTION ******** */
.aboutUs {
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  padding-inline: 0.9rem;
  margin-top: -55px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.aboutUs__imgBgContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100%;
  width: 15%;
  display: none;
}
.aboutUs__imgBg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.aboutUs__imgBgContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(248, 249, 250, 0.5);
  z-index: 1;
}
@media (min-width: 992px) {
  .aboutUs__imgBgContainer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .aboutUs__imgBgContainer {
    width: 16.5%;
  }
}
@media (min-width: 1440px) {
  .aboutUs__imgBgContainer {
    width: 24%;
  }
}
@media (min-width: 1600px) {
  .aboutUs__imgBgContainer {
    width: 27%;
  }
}
@media (min-width: 1800px) {
  .aboutUs__imgBgContainer {
    width: 29.5%;
  }
}
@media (min-width: 1920px) {
  .aboutUs__imgBgContainer {
    width: 30.5%;
  }
}
@media (min-width: 2100px) {
  .aboutUs__imgBgContainer {
    width: 32%;
  }
}
@media (min-width: 2700px) {
  .aboutUs__imgBgContainer {
    width: 36%;
  }
}
.aboutUs__container {
  width: 100%;
  max-width: 1370px;
  margin-inline: auto;
  position: relative;
}
.aboutUs__content {
  max-width: 1140px;
  margin-inline: auto;
}
.aboutUs__imgBox {
  text-align: center;
  margin-bottom: 3rem;
}
.aboutUs__img {
  border-radius: 20px;
}
@media (min-width: 992px) {
  .aboutUs__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .aboutUs__imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutUs__img {
    object-fit: cover;
    border: 5px solid var(--light);
  }
}
.sectionsTitle {
  padding-bottom: 1rem;
}
.sectionSubTitle {
  font-weight: 500;
  color: var(--primaryColor);
}
.sectionsTitleTag {
  font-weight: 700;
  color: var(--secondaryColor);
  font-size: 20px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .sectionsTitleTag {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .sectionsTitleTag {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .sectionsTitleTag {
    font-size: 34px;
  }
}
.aboutUs__title {
  position: relative;
}
.aboutUs__title::before {
  content: "";
  background-color: var(--primaryColor);
  width: 50px;
  height: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.aboutUs__contentInfo {
  padding-block: 1.5rem;
}
.aboutUs__infoTitle {
  margin-bottom: 1rem;
}
.aboutUs__infoTitle h3 {
  font-weight: 500;
  margin-bottom: 1px;
  font-size: 22px;
}
@media (min-width: 992px) {
  .aboutUs__infoTitle {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .aboutUs__infoTitle {
    font-size: 26px;
  }
}
@media (min-width: 1601px) {
  .aboutUs__infoTitle {
    font-size: 28px;
  }
}
.sectionDescription {
  color: var(--lightGray);
  max-width: 880px;
  margin-inline: auto;
}
.aboutUs__description p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.aboutUs__statsList {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  max-width: 1140px;
  width: 100%;
  margin-inline: auto;
  justify-content: center;
  text-align: center;
}

.aboutUs__statsListItem {
  position: relative;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 550px) {
  .aboutUs__statsListItem {
    display: flex;
    flex-direction: row;
  }
}
.aboutUs__statsListItem:not(:nth-of-type(4))::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 1px;
  background-color: #dddfe1;
}
.aboutUs__statsIcon {
  width: 50px;
  height: 50px;
  margin-inline: auto;
  filter: invert(72%) sepia(57%) saturate(5924%) hue-rotate(347deg)
    brightness(97%) contrast(91%);
}
@media (min-width: 375px) {
  .aboutUs__statsList {
    grid-template-columns: 1fr 1fr;
    text-align: unset;
  }
  .aboutUs__statsIcon {
    margin-inline: unset;
  }
}
@media (min-width: 992px) {
  .aboutUs__statsList {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 15%;
  }
  .aboutUs__statsIcon {
    align-self: center;
  }
}
.aboutUs__statsDesc {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.aboutUs__statsDescNum {
  font-size: 28px;
  font-weight: 600;
  color: var(--secondaryColor);
}
.aboutUs__statsDesc p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .aboutUs__statsDesc p {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .aboutUs__statsDescNum {
    font-size: 36px;
  }
}
/* *** ** ABOUT US ED ** * **  */

/* ********* OFFERING* ******* */
.offerings {
  padding-block: 5rem;
  background-color: var(--lighterGray);
  padding-inline: 1rem;
}
.offerings__container {
  max-width: 1170px;
  margin-inline: auto;
}
.offerings__content {
  text-align: center;
}
.offerings__optionsMenu {
  background-color: var(--light);
  /* padding: 5px 0; */
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 60px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.offerings__optionsListItem:not(:last-of-type) {
  /* border: 1px solid red; */
  border-right: 1px solid #dddfe1;
}
.offerings__optionsListItem button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}
.offerings__optionsImg {
  width: 25px;
  height: 25px;
  pointer-events: none;
  transition: filter 0.2s ease-in-out;
}
.offerings__optionsListItem button span {
  font-size: 10px;
  font-weight: 500;
  pointer-events: none;
  width: 100%;
}
.offerings__optionsListItem button span span {
  display: none;
}
@media (min-width: 768px) {
  .offerings__optionsListItem button span span {
    display: inline;
  }
}
@media (min-width: 768px) {
  .offerings__optionsImg {
    width: 50px;
    height: 50px;
  }
  .offerings__optionsListItem button span {
    font-size: 15px;
  }
}
.offerings__optionsListItem:hover button {
  color: var(--primaryColor);
}
.offerings__optionsListItem:hover .offerings__optionsImg {
  filter: invert(63%) sepia(30%) saturate(5519%) hue-rotate(344deg)
    brightness(94%) contrast(98%);
}
.offerings__options-activeButton {
  color: var(--primaryColor);
}
.offerings__options-activeButton .offerings__optionsImg {
  filter: invert(63%) sepia(30%) saturate(5519%) hue-rotate(344deg)
    brightness(94%) contrast(98%);
}
.offerings__cardsContainer {
  display: grid;
  min-height: 500px;
}
.offerings__card {
  display: none;
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.offerings__card-activeCard {
  display: grid;
}
.show {
  opacity: 1;
}
.offerings__cardImgHolder {
  margin-bottom: 40px;
  text-align: center;
}
.offerings__cardHead {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.offerings__cardTitle {
  color: var(--primaryColor);
  transition: color 0.3s ease-in-out;
}
.offerings__cardTitle:hover {
  color: var(--secondaryColor);
}
.offerings__cardSubTitle {
  font-weight: 500;
}
@media (min-width: 768px) {
  .offerings__cardSubTitle {
    font-size: 18px;
  }
}
.offerings__cardDesc {
  color: var(--lightGray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.offerings__cardDesc p {
  line-height: 1.5;
  font-size: 14px;
}
.offerings__cardLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
@media (min-width: 635px) {
  .offerings__cardLinks {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .offerings__cardLinks {
    justify-content: flex-start;
  }
}
.offerings__cardLinksIcons {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 1rem;
  flex-wrap: wrap;
}
.offerings__cardLinksListItem {
}
.offerings__cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  background: var(--light);
  transition: background-color 0.3s ease-in-out;
}
.offerings__cardIconImg {
  width: 30px;
  height: 30px;
  transition: filter 0.3s ease-in-out;
}
.offerings__cardIcon:hover {
  background-color: var(--primaryColor);
}
.offerings__cardIcon:hover .offerings__cardIconImg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.offerings__DevelopmentCost {
  background-color: var(--primaryColor);
  color: var(--light);
  padding: 1rem;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}
.offerings__DevelopmentCost:hover {
  background-color: var(--secondaryColor);
}
@media (min-width: 992px) {
  .offerings__card {
    grid-template-columns: 1.3fr 1fr;
    column-gap: 0.5rem;
  }
  .offerings__cardText {
    order: 1;
  }
  .offerings__cardImgHolder {
    order: 2;
    align-self: end;
    margin-bottom: 0;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
  }
  .offerings__cardLinks {
    order: 3;
  }
}
/* ********* OFFERING* ******* */
